@use '../../../../styles/variables' as v;

.slide {
  animation: 0.5s ease-in-out forwards slide;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.grow {
  overflow: hidden;
  animation: 0.5s ease-in-out forwards grow;
}

@keyframes grow {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
