@media (max-width: 1000px) {
  .modal__content-infos {
    flex-direction: column;
    align-items: center;
  }
  .modal__subtitle {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .stats__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .stats__list-item {
    flex-direction: column;
    gap: 0.25rem;
  }
  .progress-bar {
    width: 100% !important;
  }
}
