.acier {
  background-color: #aaaabb;
}

.combat {
  background-color: #bb5544;
}

.dragon {
  background-color: #7766ee;
}

.eau {
  background-color: #2980ef;
}

.électrik {
  background-color: #ffbb33;
}

.feu {
  background-color: #e62829;
}

.glace {
  background-color: #77ddff;
}

.insecte {
  background-color: #91a119;
}

.normal {
  background-color: #9fa19f;
}

.plante {
  background-color: green;
}

.poison {
  background-color: purple;
}

.psy {
  background-color: #ef4179;
}

.roche {
  background-color: #bbaa66;
}

.sol {
  background-color: #ddbb55;
}

.spectre {
  background-color: #6666bb;
}

.ténèbres {
  background-color: #665544;
}

.vol {
  background-color: #6699ff;
}

.fée {
  background-color: #ef71ef;
}
