.form {
  margin-bottom: 1rem;

  &__input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0 2rem 0;

    .form__input-text {
      position: relative;
    }
    input[type='text'] {
      border-style: none;
      border-radius: 1rem;
      padding: 0.5rem;
      box-shadow: 0 1px 5px black;
    }
    input[type='text']:focus {
      outline: 2px solid black;
    }

    .bi-search {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      cursor: pointer;
    }
  }
}
